name: 'build-test'

on:
  pull_request:
  push:
    branches:
      - main

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - run: |
          npm i
      - run: |
          npm run build
      - name: update a value
        id: run_id
        uses: ./
        with:
          storage-commit-sha: 13ef52e3a407d9828741990d69dded5a2b65f563
          key: run_id
          value: ${{ github.run_id }}
      - name: update a value (result)
        run: |
          echo "value: ${{ steps.run_id.outputs.value }}, updated: ${{ steps.run_id.outputs.updated }}"
          test ${{ steps.run_id.outputs.updated }} = true
      - name: indicate if not updated
        id: identical_run_id
        uses: ./
        with:
          storage-commit-sha: 13ef52e3a407d9828741990d69dded5a2b65f563
          key: run_id
          value: ${{ github.run_id }}
      - name: indicate if not updated (result)
        run: |
          echo "value: ${{ steps.identical_run_id.outputs.value }}, updated: ${{ steps.identical_run_id.outputs.updated }}"
          test ${{ steps.identical_run_id.outputs.updated }} = false
      - name: set
        id: set
        uses: ./
        with:
          storage-commit-sha: 13ef52e3a407d9828741990d69dded5a2b65f563
          key: some
          value: content
      - name: set (result)
        run: |
          echo "value: ${{ steps.set.outputs.value }}, updated: ${{ steps.set.outputs.updated }}"
          test ${{ steps.set.outputs.value }} = content
      - name: get
        id: get
        uses: ./
        with:
          storage-commit-sha: 13ef52e3a407d9828741990d69dded5a2b65f563
          key: some
      - name: get (result)
        run: |
          echo "value: ${{ steps.get.outputs.value }}, updated: ${{ steps.get.outputs.updated }}"
          test ${{ steps.get.outputs.updated }} = false
          test ${{ steps.get.outputs.value }} = content
      - name: set encrypted
        id: set_encrypted
        uses: ./
        with:
          storage-commit-sha: e4c2d3e3d0d865a0ffdfb017e25eb7b59117894e
          encryption-key: e761daf732c272ee0db9bd71f49c66a0
          key: some
          value: secretive content
      - name: set encrypted (result)
        run: |
          echo "value: ${{ steps.set_encrypted.outputs.value }}, updated: ${{ steps.set_encrypted.outputs.updated }}, encrypted: ${{ steps.set_encrypted.outputs.encrypted }}"
          test "${{ steps.set_encrypted.outputs.value }}" = "secretive content"
          test "${{ steps.set_encrypted.outputs.encrypted }}" = "true"
      - name: get encrypted
        id: get_encrypted
        uses: ./
        with:
          storage-commit-sha: e4c2d3e3d0d865a0ffdfb017e25eb7b59117894e
          encryption-key: e761daf732c272ee0db9bd71f49c66a0
          key: some
      - name: get encrypted (result)
        run: |
          echo "value: ${{ steps.get_encrypted.outputs.value }}, updated: ${{ steps.get_encrypted.outputs.updated }}, encrypted: ${{ steps.get_encrypted.outputs.encrypted }}"
          test ${{ steps.get_encrypted.outputs.updated }} = false
          test "${{ steps.set_encrypted.outputs.encrypted }}" = "true"
          test "${{ steps.get_encrypted.outputs.value }}" = "secretive content"
